body{
    background-color: rgb(209, 168, 247);
}

.Titulo{
    text-align: center;
    color: aliceblue;
    background-color: rgb(142, 77, 202);
}

.Portada{
    width: 350px;
    height: 350px;
    margin-right: 7px;
    margin-left: 7px;

}
.Subtitulo{
    text-align: center;
    color: aliceblue;
    background-color: rgb(142, 77, 202);
}

.foto1{
    width: 250px;
    height: 250px;
    margin-right: 7px;
}
.foto2{
    width: 650px;
    height: 350px;
}

.foto3{
    width: 850px;
    height: 250px;
}

.Videos{
    width: 350px;
    height: 650px;
    margin-right: 7px;
    margin-left: 7px; 
}